<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} SPESA - Premium Streetwear</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    {% block custom_style %}{% endblock custom_style %}

</head>
<body>
        <!-- Header Section -->
    <header>
      <div class="logo">
        <a style="text-decoration: none; color: inherit;" href="{% url "index" %}">SPE<span>SA</span></a>
        <a href="{% url "logout" %}"><span>Logout</span></a>
      </div>
      <div class="header-icons">
        <i class="fas fa-search"></i>
        <a href="{% url "view_cart" %}">
        <div class="cart-icon">
          <i class="fas fa-shopping-bag"></i>
          {% if count > 0 %}
          <span class="cart-count">{{count}}</span>
          {% endif %}
        </div>
        </a>
      </div>
    </header>
    {% for message in messages %}
    <div class="section-title" role="alert">
      {{message}}
    </div>
{% endfor %}
{% block body %}{% endblock body %}
{% block navbar %}
<nav class="bottom-nav">
        <a href="{% url "index" %}" class="nav-item active">
            <i class="fas fa-home nav-icon"></i>
            <span>Home</span>
        </a>
        <a href="{% url "all_products" %}" class="nav-item">
            <i class="fas fa-compass nav-icon"></i>
            <span>Discover</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fas fa-plus-circle nav-icon"></i>
            <span>Create</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fas fa-heart nav-icon"></i>
            <span>Wishlist</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fas fa-user nav-icon"></i>
            <span>Profile</span>
        </a>
    </nav>
{% endblock navbar %}
</body>
</html>